@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 120 20% 99.0196%;
    --foreground: 120 9.0909% 4.3137%;
    --card: 0 0% 100%;
    --card-foreground: 120 9.0909% 4.3137%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 9.0909% 4.3137%;
    --primary: 106.4516 16.7568% 36.2745%;
    --primary-foreground: 120 20% 99.0196%;
    --secondary: 98.1818 26.8293% 91.9608%;
    --secondary-foreground: 106.1538 18.8406% 27.0588%;
    --muted: 98.1818 26.8293% 91.9608%;
    --muted-foreground: 106.4516 16.7568% 36.2745%;
    --accent: 98.1818 26.8293% 91.9608%;
    --accent-foreground: 106.1538 18.8406% 27.0588%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 120 20% 99.0196%;
    --border: 98.1818 16.4179% 86.8627%;
    --input: 98.1818 16.4179% 86.8627%;
    --ring: 106.4516 16.7568% 36.2745%;
    --chart-1: 100 16.3636% 56.8627%;
    --chart-2: 102.8571 14.8936% 46.0784%;
    --chart-3: 106.4516 16.7568% 36.2745%;
    --chart-4: 106.1538 18.8406% 27.0588%;
    --chart-5: 107.3684 19.1919% 19.4118%;
    --sidebar: 100 20% 97.0588%;
    --sidebar-foreground: 120 9.0909% 4.3137%;
    --sidebar-primary: 106.4516 16.7568% 36.2745%;
    --sidebar-primary-foreground: 120 20% 99.0196%;
    --sidebar-accent: 98.1818 26.8293% 91.9608%;
    --sidebar-accent-foreground: 106.1538 18.8406% 27.0588%;
    --sidebar-border: 98.1818 16.4179% 86.8627%;
    --sidebar-ring: 106.4516 16.7568% 36.2745%;
    --font-sans: Sora;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.4rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
      0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
      0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
      0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
      0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05),
      0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 100 7.3171% 8.0392%;
    --foreground: 100 13.0435% 95.4902%;
    --card: 105 7.1429% 10.9804%;
    --card-foreground: 100 13.0435% 95.4902%;
    --popover: 105 7.1429% 10.9804%;
    --popover-foreground: 100 13.0435% 95.4902%;
    --primary: 100 20.6897% 77.2549%;
    --primary-foreground: 100 7.3171% 8.0392%;
    --secondary: 106.6667 10.1124% 17.451%;
    --secondary-foreground: 100 20.6897% 77.2549%;
    --muted: 106.6667 10.1124% 17.451%;
    --muted-foreground: 144 12.8205% 69.4118%;
    --accent: 106.6667 10.1124% 17.451%;
    --accent-foreground: 100 20.6897% 77.2549%;
    --destructive: 0 76.2557% 57.0588%;
    --destructive-foreground: 100 13.0435% 95.4902%;
    --border: 106.6667 10.1124% 17.451%;
    --input: 106.6667 10.1124% 17.451%;
    --ring: 100 20.6897% 77.2549%;
    --chart-1: 100 16.3636% 56.8627%;
    --chart-2: 102.8571 14.8936% 46.0784%;
    --chart-3: 106.4516 16.7568% 36.2745%;
    --chart-4: 106.1538 18.8406% 27.0588%;
    --chart-5: 107.3684 19.1919% 19.4118%;
    --sidebar: 105 7.1429% 10.9804%;
    --sidebar-foreground: 100 13.0435% 95.4902%;
    --sidebar-primary: 100 20.6897% 77.2549%;
    --sidebar-primary-foreground: 100 7.3171% 8.0392%;
    --sidebar-accent: 106.6667 10.1124% 17.451%;
    --sidebar-accent-foreground: 100 20.6897% 77.2549%;
    --sidebar-border: 106.6667 10.1124% 17.451%;
    --sidebar-ring: 100 20.6897% 77.2549%;
    --font-sans: Sora;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.4rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
